@import "tailwindcss";

@theme {
  --color-paypal-blue: #003087;
  --color-paypal-light-blue: #0070ba;
  --color-paypal-gray: #f5f7fa;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#f5f7fa] text-[#2c2e2f] font-sans;
  }
}
